.news{
	font-size: 2rem;
	padding-top: 20px;
	margin-left: 20px;
	// margin-bottom: 60px;
	width: 90%;
	
}

.whyItMatters {
	background-color: lightblue;
	padding: 10px;

	p {
		background-color: lightblue;
		padding: 5px 5px;

	}
}

.beWorried {
	margin-top: 10px;
	background-color: lightblue;
	padding: 10px;

	p {
		background-color: lightblue;
		padding: 5px 5px;

	}
}